---
layout: base.liquid
templateClass: home
---
<section>
  {%- for intro in collections.homeintro limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>
{% include '_news.liquid' %}
<section>
  <h1>Online Resources</h1>
  {%- for section in collections.homesection -%}
  <section>
    <p class="imageDivider"><img class="dividerImage" src="/images/{{ section.data.divider }}"></p>
    <h2 id="{{ section.data.anchor }}">{{ section.data.title }}</h2>
    {{ section.templateContent }}
  </section>
  {%- endfor -%}
</section>
<section>
<h1>Missing Links?</h1>
<p>Your site not listed? If you know of any <strong>FASA</strong> resource that we don't have listed please drop us a line on the <a href="https://thefasastartrekuniversee-group.groups.io/g/MorenaShipyards">Morena Shipyards mailing list</a>, thanks. 
Managing links is an endless task so if a site goes offline we would also like to know so we can re-instate a <cite>wayback</cite> link</p>
<p class="imageDivider"><img class="dividerImage" src="/images/transporter.svg"></p>
</section>