---
layout: base.liquid
templateClass: home
---

<!-- Starfield Animation OFF 
<canvas id="StarfieldVideo"></canvas>
<script src="code/starfield-scroller.js"></script>
-->

<section>
    {{ content }}
</section>

<section>
  {%- for intro in collections.hometoc limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>
{% include '_news.liquid' %}
<section>
  <h1>Online Resources</h1>
  {%- for section in collections.homesection -%}
  <section>
    <h2 id="{{ section.data.anchor }}" class="section {{ section.data.sectionid }}">{{ section.data.title }}</h2>
    {{ section.templateContent }}
  </section>
  {%- endfor -%}
</section>
<section>
{%- for intro in collections.homeoutro limit:1 -%}
	{{ intro.templateContent }}
{%- endfor -%}
</section>