---
layout: base.liquid
templateClass: home
---
<section>
  {%- for intro in collections.homeintro limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>
<section>
  {%- for intro in collections.hometoc limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>
{% include '_news.liquid' %}
<section>
  <h1>Online Resources</h1>
  {%- for section in collections.homesection -%}
  <section>
    <h2 id="{{ section.data.anchor }}" class="section {{ section.data.sectionid }}">{{ section.data.title }}</h2>
    {{ section.templateContent }}
  </section>
  {%- endfor -%}
</section>
<section>
{%- for intro in collections.homeoutro limit:1 -%}
	{{ intro.templateContent }}
{%- endfor -%}
</section>