---
layout: base.liquid
templateClass: listing
---
<section>
  {%- for intro in collections.listingintro limit:1 -%}
	{{ intro.templateContent }}
  {%- endfor -%}
</section>

{%- for section in collections.listing -%}
<section>
{{ section.templateContent }}
</section>
{%- endfor -%}

<section>
<!-- Product Full Listing -->
<h3>2001 - 2011 Core Game & Supplements</h3>
<ul>
{%- for product in collections.product-game -%}
<li>
  <a href="{{product.url}}">{{ product.data.title }}</a><br>
  Stock# <span class="stock">{{product.data.stock}}<span> ISBN <span class="isbn">{{ product.data.isbn }}</span>
</li>
{%- endfor -%}
</ul>
</section>
