---
layout: base.liquid
---
<!-- Display a listing product  -->
{% assign navPages = collections.all | eleventyNavigationBreadcrumb: "Product" %}
<a href="{{ navPages[0].url}}#{{stock}}">&laquo; Back to listing</a>
<section>
  <h2>{{ title }}</h2>
  <div class="flexMeta">
    <h3>Stock <span class="stock">#{{ stock }}</span></h3>
    <h3>ISBN <span class="isbn">{{ isbn }}</span></h3>
  </div>
  <figure class="cover">
    <img  src="/images/{{ cover }}" alt="{{ title }}" >
    <figcaption>{{ title }}</figcaption>
  </figure>
  {{ content }}
</section>

