---
layout: base.liquid
---
<!-- https://www.viewstl.com/plugin/ -->
<script src="/code/stl_viewer.min.js"></script>

<!-- Display a ship  -->
{% assign navPages = collections.all | eleventyNavigationBreadcrumb: "Ship" %}
<a href="{{ navPages[0].url}}#{{id}}">&laquo; Back to ships</a>
<section>
  <h2>{{ title }}</h2>
  
  <p><a href="{{ download }}" target="_blank">Download model by {{ author }} &raquo;</a></p>
  
  <h3>{{ source }}</h3>
  {{ content }}
  
  <div id="STLProgress">
    <p class="STLFileLoading" >Loading 3D Preview</p>
    <p class="spin" ></p>
  </div>
  <div id="STLViewer" style="height:50vh"></div>
  
  <script>
    function loadedModel(model_id) {
      //console.log("loadModel ", model_id);
      document.getElementById("STLProgress").innerHTML = "";
    }
  
	  var stl_viewer=new StlViewer(
      document.getElementById("STLViewer"), 
      { 
        model_loaded_callback:loadedModel,
        models: [ 
          {id:0, filename:"{{ model }}"} 
        ] 
      }
    );
  </script> 
</section>

